<div class="ui container">
  <h2 class="ui center aligned icon header teal">
    <i class="circular users icon"></i>
    Resend confirmation instructions
  </h2>
  <div class="ui grid centered">
    <div class="eight wide column">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'ui form', method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: 'ui teal button' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>    
</div>