<% if params[:action] == 'search' %>
  <%= render 'layouts/messages' %>
<% end %>

<% if @stock %>
  <div class="ui icon floating message center">
    <% if current_user.can_add_stock?(@stock.symbol) %>
      <%= link_to user_stocks_path(user: current_user, stock: @stock.symbol), 
                  class: 'stock__like', method: :post do %>
        <i class="star teal outline large icon"></i>
      <% end %>
    <% else %>
      <div class="stock__like">
        <%= link_to '#' do %>
          <% if current_user.stock_already_added?(@stock.symbol) %>
            <i class="star teal large icon"></i>
          <% elsif !current_user.under_stock_limit? %>
            <i class="disabled star teal outline large icon"></i>
          <% end %>
        <% end %>
        <a class="ui red small tag label">
          Stock cannot be added because you have already added
          <% if current_user.stock_already_added?(@stock.symbol) %>
            this stock
          <% elsif !current_user.under_stock_limit? %>
            10 stocks
          <% end %>
        </a>
      </div>
    <% end %>

    <img src=<%= @logo.url %> alt="logo" class="stock-logo">
    <div class="content">
      <div class="header text-right">
        <%= @stock.company_name %> (<%= @stock.symbol %>)
      </div>
      <div class="mt-md">
        <table class="ui teal very compact small table">
          <tbody>
            <tr>
              <td><strong>Price:</strong></td>
              <td>$<%= @stock.iex_realtime_price %></td>
            </tr>
            <tr>
              <td><strong>Previous Close:</strong></td>
              <td>$<%= @stock.previous_close %></td>
            </tr>
            <tr>
              <td><strong>High:</strong></td>
              <td>$<%= @stock.high %></td>
            </tr>
            <tr>
              <td><strong>Low:</strong></td>
              <td>$<%= @stock.low %></td>
            </tr>
            <tr>
              <td><strong>Open:</strong></td>
              <td>$<%= @stock.open %></td>
            </tr>
            <tr>
              <td><strong>Close:</strong></td>
              <td>$<%= @stock.close %></td>
            </tr>
            <tr>
              <td><strong>Change:</strong></td>
              <td>
                <span class="text__<%= @stock.change > 0 ? 'green' : 'red' %>">
                  <%= @stock.change %> (<%= (number_to_percentage(@stock.change_percent, precision: 2)) %>)
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <% unless current_page?(action: 'index', controller: 'home') %>
    <%= render 'stocks/news' %>
  <% end %>
<% end %>